@model ExamPartViewModel

<section>
	<h1>@Model.ExamPartResult.ExamPart.Name</h1>
	<div>
		@foreach (var q in Model.ExamPartResult.Questions)
		{
			<article class="card">
				<img class="card-img-top" src="@Model.ToQuestionImageUrl(Model.ExamPartResult.ExamPart, q.Question)">
				<div class="card-body">
					<h2 class="card-title">問. @q.Question.No</h2>
					<p class="card-text">@q.Question.QuestionText</p>
					@if (q?.QuestionOnTwitter?.Question.QuestionTweetId != null)
					{
						<a href="@Model.ToTweetUrl(q.QuestionOnTwitter?.Question.QuestionTweetId)">出題Tweet</a>
					}
					@if (q?.QuestionOnTwitter?.Question.PollTweetId != null)
					{
						<blockquote class="twitter-tweet" data-conversation="none">
							<a href="@Model.ToTweetUrl(q.QuestionOnTwitter?.Question.PollTweetId)">回答Tweet</a>
						</blockquote>
					}
				</div>
			</article>
		}
	</div>
</section>
