@model ExamPartViewModel

<section>
	<h2>@Model.ExamPartResult.ExamPart.Name</h2>
	@foreach (var q in Model.ExamPartResult.Questions)
	{
		<article>
			<h3>問. @q.Question.No</h3>
			<p>@q.Question.QuestionText</p>
			<img src="@Model.ToQuestionImageUrl(Model.ExamPartResult.ExamPart, q.Question)">
			@if (q?.QuestionOnTwitter?.Question.QuestionTweetId != null)
			{
				<p>
					<a href="@Model.ToTweetUrl(q.QuestionOnTwitter?.Question.QuestionTweetId)">出題Tweet</a>
				</p>
			}
			@if (q?.QuestionOnTwitter?.Question.PollTweetId != null)
			{
				<blockquote class="twitter-tweet" data-conversation="none">
					<a href="@Model.ToTweetUrl(q.QuestionOnTwitter?.Question.PollTweetId)">回答Tweet</a>
				</blockquote>
			}
		</article>
	}
</section>
