@model IndexViewModel

<section>
	<h1>IPA過去問Bot Viewer</h1>
	<ul class="list-group">
		@foreach (var exam in Model.ExamPartViewModels)
		{
			<li class="list-group">
				<p class="h4">
					<a href="@($"exam/{exam.ExamPartResult.ExamPart.ExamPartId}.html")">
						@exam.ExamPartResult.ExamPart.Name
					</a>
				</p>
				<p class="lead">
					<a href="@($"https://twitter.com/hashtag/{exam.ExamPartResult.ExamPart.ExamPartId}?f=live")">
						#@exam.ExamPartResult.ExamPart.ExamPartId
					</a>
					<span class="badge bg-info">
						@exam.ExamPartResult.Questions.Where(x => x.QuestionOnTwitter != null).Count() / @exam.ExamPartResult.Questions.Count
					</span>
				</p>
			</li>
		}
	</ul>
</section>